.Rproj.user
.Rhistory
.RData
.Ruserdata
usefulscript_ignoreupload/baseQ_predict.R
usefulscript_ignoreupload/baseQ_predict.R
usefulscript_ignoreupload/Calculate_Qscaling.R
usefulscript_ignoreupload/cbom_organization.R
SupplementalTable6__Scenarios.xlsx
Supplemental Material 6_POCNetworkModel.docx
Supplemental Material 4_BreakdownRateCalculation.docx
Supplemental Material 3_StreamThermalRegimes.docx
Supplemental Material 2_BaseflowRegression.docx
usefulscript_ignoreupload/baseQ_predict.R
usefulscript_ignoreupload/Calculate_Qscaling.R
usefulscript_ignoreupload/cbom_organization.R
Air_temperature.csv
BaseFlow_Coweeta.csv
BaseFlow_Coweeta.RDS
BaseFlow_Coweeta_Rlong.csv
images/S1_Figure1.jpeg
images/Width_scaling_img.png
SupplementalTable6__Scenarios.xlsx
Table_minArealWSStandingStock.xlsx
results/model_output/network_Acer_base_ts_all_UCI_nonserialC.RDS
.RDataTmp
